@import '../../styles/variables/fonts';
@import '../../styles/variables/colors';
.font {
  font-family: $main-font;
  margin-top: 20px;
  margin-bottom: 20px;
}

.status__styles {
  @each $status, $color in $status-colors {
    &--#{$status} {
      color: $color;
    }
  }
}

.full__cell {
  width: 100%;
  height: 100%;
}

.selector__id {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
}
