@import '../../../styles/variables/colors';
@import '../../../styles/media';

.info__title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
}
.info__list {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

.info__item {
  @media (max-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.info__subtitle {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    font-size: 1.2rem;
  }
}

.info__text {
}

.info__img {
  width: 100%;
  @media (min-width: $tablet) {
  }
}

.info__img-grid {
  grid-column: span 2;
}
