@import '../../styles/media';

.select__wrapper {
	margin-top: 10px;
	margin-bottom: 20px;
}

.flex__container {
	@media (min-width: $tablet) {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 60px;
	}
}

.show__mobile {
	@media (max-width: 767px) {
		display: block;
		margin-bottom: 30px;
	}

	@media (min-width: $tablet) {
		display: none;
	}
}
