@import '../../styles/variables/colors';
@import '../../styles/variables/animations';
@import '../../styles/variables/fonts';
@import '../../styles/media';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.card {
	@media (max-width: 479px) {
		max-width: 320px;
	}

	padding: 10px;

	border: 1px solid $secondary-bg-color;
	border-radius: 10px;

	transition: box-shadow $delay-animation $cubic-bezier;

	&:hover,
	&:focus {
		box-shadow: 0px -6px 20px $card-hover-color;
	}
}

.card_img {
	margin-bottom: 10px;

	border-radius: 5px;
	@media (min-width: $mobile) {
		height: 140px;
		object-fit: cover;
		width: 100%;
	}
}

.card__ingredients {
	height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;

	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;

	margin-bottom: 10px;

	font-size: 0.8rem;
	color: $secondary-font-color;
}

.card__price {
	font-size: 1rem;
	margin-bottom: 10px;
}

.card__button {
	display: block;
	width: 100%;

	font-size: 1rem;
}
