@import './media';

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;

  @media (min-width: $mobile) {
    max-width: $mobile;
  }

  @media (min-width: $tablet) {
    max-width: $tablet;

    padding: 0 15px;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;

    padding: 0 20px;
  }
}

// .staff__container {
//   margin: 0 auto;
//   padding: 0 10px;
//   // width: 100%;

//   @media (min-width: $mobile) {
//     max-width: $mobile;
//   }

//   @media (min-width: $tablet) {
//     max-width: $staff-tablet;

//     // padding: 0 15px;
//   }
// }
