.hero__section {
	padding: 30px 0;

	// box-shadow: inset 0px -30px 60px #622a9a70;
	box-shadow: inset 0 -20px 60px -30px #622a9a70;
}

.hero__title {
	font-size: 3rem;
	font-weight: 700;

	margin-bottom: 30px;

	text-align: center;
}

.hero__img__list {
	display: flex;
	// justify-content: space-between;
	align-items: center;

	gap: 10px;

	margin-bottom: 30px;
}

.hero__img__item {
	// width: 70px;
	flex-basis: calc((100% - 10px)) / 4;
}

.header__btn__wrapp {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero__btn {
	font-size: 1.3rem;

	width: 100%;
	max-width: 320px;
}

.margin__10 {
	margin-bottom: 20px;
}
