@import '../../styles/variables/colors';
@import '../../styles/variables/animations';
@import '../../styles/media';

.main-button {
  background-color: $btn-main-color;
  color: $btn-main-text-color;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;

  @media (min-width: $tablet) {
    padding: 5px 10px;
    font-size: 0.9rem;
  }

  @media (min-width: $desktop) {
    padding: 5px 20px;

    font-size: 1.1rem;
  }

  &:hover,
  &:focus {
    background-color: $btn-main-hover-color;
    transform: scale(1.05);
    box-shadow: 0 4px 8px $btn-box-shadow-color;
  }
}
