@import '../../styles/variables/fonts';
@import '../../styles/variables/colors';
@import '../../styles/variables/animations';
@import '../../styles/media';

.header {
	position: relative;
	overflow-x: hidden;
}

.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 10px 0;
	margin-bottom: 10px;

	border-bottom: 1px solid $secondary-bg-color;

	@media (min-width: $tablet) {
		margin-bottom: 30px;
	}

	@media (min-width: $desktop) {
		padding: 20px 0;
	}
}

.header__logo {
}

.header__mobile__wrapper {
	position: fixed;
	top: 0;
	right: 0;
	width: 70%;
	height: 100vh;
	z-index: 100;
	overflow-y: scroll;
	transform: translateX(100%);
	transition: transform $delay-animation $cubic-bezier;
	background-color: $main-bg-color;

	@media (min-width: $tablet) {
		position: inherit;

		display: flex;

		justify-content: space-between;
		align-items: center;

		height: auto;

		transform: translate(0, 0);
	}
}

.backdrop__open {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	width: 100%;
	height: 100%;

	background-color: $secondary-bg-color;
}

.backdrop__closed {
	display: none;
}

.opened__burger {
	transform: translateX(0);
}

.header__nav {
	margin-bottom: 30px;

	@media (min-width: $tablet) {
		margin-bottom: 0;
	}
}

.header__list {
	font-size: $mobile-sec-font-size;
	margin-top: 20px;

	@media (min-width: $tablet) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;

		font-size: 15px;

		margin-top: 0;
	}

	@media (min-width: $desktop) {
		font-size: 20px;
	}
}

.header__item {
	border-bottom: 1px solid $secondary-bg-color;
}

.header__link {
	display: block;

	padding: 20px 0 20px 20px;

	transition: color $delay-animation $cubic-bezier;

	@media (min-width: $tablet) {
		padding: 0;
	}

	&:hover,
	&:focus {
		color: $link-hover-color;
	}
}

// auth links
.header__auth__wrapp {
	display: flex;
	justify-content: space-around;
	align-items: center;

	margin-bottom: 50px;

	font-size: $mobile-sec-font-size;

	@media (min-width: $tablet) {
		font-size: 15px;

		margin-bottom: 0;
	}

	@media (min-width: $desktop) {
		font-size: 18px;
	}
}

.header__auth__btn {
	padding: 5px 20px;

	border: 1px solid $secondary-bg-color;
	border-radius: 5px;

	box-shadow: inset 0px 0px 4px $shadow-btn-color;
	transition: box-shadow $delay-animation $cubic-bezier;

	@media (min-width: $tablet) {
		padding: 5px 10px;
	}

	@media (min-width: $desktop) {
		padding: 5px 20px;
	}

	&:hover,
	&:focus {
		box-shadow: inset 0px 0px 10px $card-hover-color;
	}
}

.margin-10 {
	margin-right: 10px;
}

.close__btn {
	position: absolute;
	top: 10px;
	right: 10px;
}
