// COLORS
$main-bg-color: #282729;
$secondary-bg-color: rgba(225, 225, 225, 15%);

$main-font-color: #ffffff;
$secondary-font-color: rgba(225, 225, 225, 70%);

$card-hover-color: rgba(140, 69, 225, 40%);
$link-hover-color: rgba(140, 69, 225, 90%);

$shadow-btn-color: rgb(139, 137, 137);

$red-color: #ef6065;
$green-color: #56f264;
$green-secondary-color: #6ac372;
