@import '../../styles/media';
@import '../../styles/variables/colors';

.card__item {
	position: relative;

	padding: 10px;

	border: 1px solid $secondary-bg-color;
	border-radius: 5px;

	margin-bottom: 20px;
}

.card__spinner {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	background-color: rgba(164, 165, 167, 0.179);

	visibility: hidden;
}

.card__spinner--visible {
	visibility: inherit;
}

.card__title__wrapp {
	display: flex;

	margin-bottom: 20px;
}

.cart__img {
	width: 100px;

	@media (min-width: $tablet) {
		width: 150px;
	}
}

.cart__title {
	font-size: 1.3rem;
	margin-left: 30px;

	@media (min-width: $tablet) {
		font-size: 1.5rem;
	}
}

.cart__icon {
	font-size: 1.5rem;
	color: $main-font-color;
}

.card__price__wrapp {
	display: flex;
	justify-content: space-between;
}

.cart__price {
	font-size: 0.8rem;

	@media (min-width: $tablet) {
		font-size: 1.1rem;
	}
}

.cart__delete__wrapp {
	position: absolute;
	top: 10px;
	right: 10px;

	@media (min-width: $tablet) {
		top: 15px;
		right: 20px;
	}
}

.cart__delete__btn {
	position: absolute;
	top: 10px;
	right: 45px;

	padding: 10px;

	border: 1px solid $secondary-bg-color;
	border-radius: 5px;

	background-color: $red-color;

	@media (min-width: $tablet) {
		right: 55px;
	}
}

.delete__btn {
	display: flex;
	align-items: center;
	justify-content: center;

	font-weight: 500;
}

.delete__icon {
	font-size: 1.3rem;
}

.show {
	display: block;
}

.hide {
	display: none;
}