@import '../../styles/media';
@import '../../styles/variables/colors';

.card__item {
  position: relative;

  margin-bottom: 20px;

  background-color: $card-bg-color;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card__spinner {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  visibility: hidden;
}

.card__spinner--visible {
  visibility: inherit;
}

.card__title__wrapp {
  display: flex;

  margin-bottom: 20px;
}

.cart__img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 10px;

  @media (min-width: $tablet) {
    width: 150px;
    height: 150px;
  }
}

.cart__title {
  font-size: 1.3rem;
  margin-left: 30px;

  @media (min-width: $tablet) {
    font-size: 1.5rem;
  }

  &:hover,
  :focus {
    text-decoration: underline;
  }
}

.cart__icon {
  font-size: 1.5rem;
  color: $main-font-color;
}

.card__price__wrapp {
  display: flex;
  justify-content: space-between;
}

.cart__price {
  font-size: 0.8rem;
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    font-size: 1.1rem;
  }
}

.cart__delete__wrapp {
  position: absolute;
  top: 10px;
  right: 10px;

  @media (min-width: $tablet) {
    top: 15px;
    right: 20px;
  }
}

.cart__delete__btn {
  position: absolute;
  top: 10px;
  right: 45px;

  padding: 10px;

  border: 1px solid $secondary-bg-color;
  border-radius: 5px;

  background-color: $btn-main-color;
  color: $btn-main-text-color;

  @media (min-width: $tablet) {
    right: 55px;
  }
}

.delete__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
}

.delete__icon {
  font-size: 1.3rem;
  color: $btn-main-text-color;
}

.delete__item__span {
  color: $btn-main-text-color;
  font-weight: 600;
}

.show {
  display: block;
}

.hide {
  display: none;
}
