@import '../../styles/media';
@import '../../styles/variables/colors';

.footer__wrapper {
	display: flex;

	flex-wrap: wrap;
	gap: 40px;

	padding: 10px;
	margin-bottom: 30px;

	border: 1px solid $secondary-bg-color;
	border-radius: 10px;
}

.footer__wrapper > div {
	flex: 1 1 calc((100% - 40px) / 2);
}

.footer__location {
	order: 10;
}

.footer__nav__items {
	padding: 5px 0 5px 5px;
}

.nav__list {
}

.footer__button {
	display: block;

	font-size: 1.3rem;

	width: 100%;
	max-width: 200px;

	margin: 0 auto;

	@media (min-width: $tablet) {
		font-size: 1.6rem;
	}

	@media (min-width: $desktop) {
		font-size: 1.8rem;
	}
}

.footer__location__title {
	text-align: center;

	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 10px;

	border-bottom: 1px solid $secondary-bg-color;

	@media (min-width: $tablet) {
		font-size: 3rem;
	}
}

.footer__schedule {
	@media (min-width: $tablet) {
		text-align: center;

		font-size: 1.3rem;
	}
}

.footer__schedule__title {
	font-weight: 700;
	margin-bottom: 10px;
	padding-bottom: 10px;

	border-bottom: 1px solid $secondary-bg-color;
}
