.header__staff__padding {
  padding: 20px 0 20px 0;
  margin-bottom: 20px;
}

.header__staff__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__staff__item {
  font-size: 1.5rem;
}

.active__orders {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
