@import '../../styles/variables/colors';

.pre__items__element:not(:last-child) {
	margin-bottom: 20px;
}

.pre__items__title {
	font-size: 2rem;
	font-weight: 700;

	padding-bottom: 20px;
	margin-bottom: 20px;

	border-bottom: 1px solid $secondary-bg-color;
}
