@import '../../styles/variables/colors';
@import '../../styles/variables/animations';
@import '../../styles/media';

.pre__items__element:not(:last-child) {
  margin-bottom: 20px;
}

.pre__items__title--wrap {
  margin-bottom: 20px;
  border-bottom: 1px solid $secondary-bg-color;
}

.pre__items__title {
  display: inline-block;

  font-size: 2rem;
  font-weight: 700;

  transition: color $delay-animation $cubic-bezier;

  @media (min-width: $desktop) {
    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }
}
