.date__picker_wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

.empty__table {
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
}

.total__amount__by__date {
  font-size: 2rem;
  margin-bottom: 20px;
}
