@import './styles//media';
@import './styles/variables/fonts';
@import './styles/variables/colors';
@import './styles/reset';
@import './styles/base';

body {
	font-family: $main-font;

	background-color: $main-bg-color;
	color: $main-font-color;

	overflow-x: hidden;
}

.scroll__block {
	overflow: hidden;
}

.section {
	padding: 20px 0;
	box-shadow: inset 0 -20px 60px -30px $card-hover-color;

	@media (min-width: $tablet) {
		padding: 40px 0;
	}

	@media (min-width: $desktop) {
		padding: 60px 0;
	}
}
