@import '../../styles/variables/colors';
@import '../../styles/media';

.slider__container {
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;

	border-top: 1px solid $secondary-bg-color;
	border-bottom: 1px solid $secondary-bg-color;

	box-shadow: inset 0 0 10px $card-hover-color;

	@media (min-width: $tablet) {
		overflow: initial;
	}
}

.slider__img__wrapp {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}

.slider__img {
	width: 50%;
}

.slick-prev:before {
	font-size: 30px;
	color: #b125b1;

	@media (min-width: $tablet) {
		position: absolute;
		left: -50px !important;
	}

	@media (min-width: $desktop) {
		left: -100px !important;

		font-size: 3rem;
	}
}

.slick-next:before {
	font-size: 30px;
	color: #b125b1;

	@media (min-width: $tablet) {
		position: absolute;
		right: -50px !important;
	}

	@media (min-width: $desktop) {
		right: -100px !important;

		font-size: 3rem;
	}
}
