@import '../../styles/variables/colors';
@import '../../styles/media';

.slider__container {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;

  border-top: 1px solid $main-font-color;
  border-bottom: 1px solid $main-font-color;

  box-shadow: inset 0 0 10px $main-font-color;

  @media (min-width: $tablet) {
    overflow: initial;
  }
}

.slider__img__wrapp {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 400px !important;
  margin: 0 auto !important;
}

.slider__img {
  object-fit: contain;
}

.slick-prev:before {
  font-size: 30px;
  color: $main-font-color;

  @media (min-width: $tablet) {
    position: absolute;
    left: -50px !important;
  }

  @media (min-width: $desktop) {
    left: -100px !important;

    font-size: 3rem;
  }
}

.slick-next:before {
  font-size: 30px;
  color: $main-font-color;

  @media (min-width: $tablet) {
    position: absolute;
    right: -50px !important;
  }

  @media (min-width: $desktop) {
    right: -100px !important;

    font-size: 3rem;
  }
}
